<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestsUniversal.ViewModel.Examination.ExamSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestsUniversal.ViewModel.Examination.ExaminationSerrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestsUniversal.ViewModel.Examination.ExamSettings>
            <setting name="TasksPath" serializeAs="String">
                <value>.\Data</value>
            </setting>
            <setting name="ChooseVariant" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SignesNumber" serializeAs="String">
                <value>2</value>
            </setting>
        </TestsUniversal.ViewModel.Examination.ExamSettings>
        <TestsUniversal.ViewModel.Examination.ExaminationSerrings>
            <setting name="TasksPath" serializeAs="String">
                <value>C:\Users\Vanyw\source\repos\EcoTests\EcoTests\bin\Debug\Docs</value>
            </setting>
        </TestsUniversal.ViewModel.Examination.ExaminationSerrings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>